.card {
  background: purple;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space between;
  border-radius: 6px;
  width: 900px;
  margin: 10px 0px;
}    
 
 .card img {
  width: 310px;
  border-radius: 20px;
}    

.card h3 {
  width: 210px;
  border-radius: 20px;
}     